<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo's</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-dark text-light">
    <div class="container">
        <div class="d-flex justify-content-between mt-5 align-items-center">
            <h1 class="text-secondary">LifeTrack</h1>
            <div class="d-flex gap-3">
                <a href="/home" class="btn btn-info">Home</a>
                <a href="/users/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
        <div class="container">
            <div class="d-flex justify-content-around border-bottom mt-3">
                <a href="/todos" class="link-underline link-underline-opacity-0"><h2 id="todos-header" class="text-primary">To-Do's</h2></a>
                <a href="/goals" class="link-underline link-underline-opacity-0"><h2 id="goals-header" class="text-light">Goals</h2></a>
            </div>
            <div id="todos-view" class="d-flex justify-content-around gap-2">
                <div class="border rounded w-50 py-3 px-5 mt-3">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <p class="fs-5">Current</p>
                        <a class="fs-5 btn btn-dark px-3 border" onclick="showAddTodo()">Add ▼</a>
                    </div>
                    <form id="todo-form" class="d-none" onsubmit="addTodo(event)">
                        <input type="text" name="title" placeholder="Title" class="form-control mb-1">
                        <textarea name="description" placeholder="Description" class="form-control mb-1"></textarea>
                        <div class="d-flex gap-3 align-items-baseline">
                            <label for="date" class="form-label">Due:</label>
                            <input id="date" type="date" name="date" class="form-control mb-1 w-50">
                        </div>
                        <input type="text" name="location" placeholder="Location" class="form-control mb-1">
                        <button class="btn btn-success">Add</button>
                        <div id="todo-error-field"></div>
                    </form>
                    <table id="todos-table" class="table table-dark">
                        <!-- jinja for loop through users' todos -->
                        {% if todos_list|length < 1 %}
                        <tr id="todo-filler-row">
                            <td class="text-center">You have no current To-Do's.</td>
                        </tr>
                        {% else %}
                        {% for todo in todos_list %}
                        <tr id="t{{ todo.id }}-row">
                            <td>{{ todo.title }}</td>
                            <td>Due: {{ todo.date }}</td>
                            <td><a href="todos/{{ todo.id }}/delete" class="link-underline link-underline-opacity-0 text-success">Delete</a></td>
                            <td><input type="checkbox" name="{{ todo.completed }}" id="{{ todo.completed }}" class="form-check-input" onclick="completeTodo({{ todo.id }})"></td>
                        </tr>
                        <!-- Add after MVP, needs fixing -->
                        {# <form id="edit-todo-form" class="d-none" onsubmit="editTodo(event, {{ todo.id }})">
                            <input type="text" name="title" class="form-control mb-1" value="{{ todo.title }}">
                            <textarea name="description" class="form-control mb-1">{{ todo.description }}</textarea>
                            <input type="date" name="date" class="form-control mb-1" value="{{ todo.date }}">
                            <input type="text" name="location" class="form-control mb-1" value="{{ todo.location }}">
                            <button class="btn btn-success">Edit</button>
                            <div id="edit-todo-error-field"></div>
                        </form> #}
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
                <div class="border rounded w-50 py-3 px-5 mt-3">
                    <div class="d-flex">
                        <p class="fs-5 mb-0 text-center w-100">Completed</p>
                    </div>
                    <table id="completed-todos-table" class="table table-dark text-center">
                        {% for completed_todo in completed_list %}
                        <tr>
                            <td>{{ completed_todo.title }}</td>
                            <td>{{ completed_todo.date }}</td>
                            <td>Completed: {{ completed_todo.updated_at }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='todo-script.js') }}"></script>
</body>
</html>